.btn {
  border: #db1c48 solid 3px;
  border-radius: 20px;
  padding: 10px;
  background-color: white;
  color: #db1c48;
}
.active-btn {
  border: none;
  border-radius: 13px;
  padding: 10px;
  background-color: #db1c48;
  color: white;
}
